.parent{
  margin: 20px;
  padding-left: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
h1{
  text-align: center;
}
.tiles{
  padding: 30px;
}
img{
  width: 400px;
  height: 250px;
}

p,h4{
  padding-top: 20px;
  width: 400px;
}
h4{
  font-weight: normal;
}
/* hr{
  height: 1px;
  border-radius: 5px;
  width: 50px;
  background-color: orangered;
} */

